@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh;
}

.text-justify {
  text-align: justify;
}

.mw-80 {
  max-width: 80% !important;
}

.responsive-div {
  margin-left: 17vw;
}

@media (max-width: 1200px) {
  .responsive-div {
    margin-left: 0;
  }
}

$primary: #1E4C6E;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css"